<div>
	<h1>Contenido.</h1>
	<ul>
		<li>
			<a
				href="/docs/GDD_POG_Videojuego.pdf"
				download
				>Game Design Document.
			</a>
		</li>
		<li>
			<a
				href="/docs/GDD_POG_Videojuego.pdf"
				download
				>Primera versión del prototipo en papel.
			</a>
		</li>
		<li>
			<a
				href="/docs/GDD_POG_Videojuego.pdf"
				download
				>Primera versión del prototipo en digital.
			</a>
		</li>
	</ul>
</div>

<style>
	ul {
		display: flex;
		flex-direction: column;
	}
</style>
