---
const CONTENT = [
	{ url: '/docs/GDD_POG_Videojuego.pdf', label: 'Game Design Document.' },
	{ url: '/content/prototipo-papel', label: 'Primera versión del prototipo en papel.' },
	{ url: '/content/prototipo-digital', label: 'Primera versión del prototipo en digital.' },
]
---

<div>
	<h1>Contenido.</h1>
	<ul>
		{
			CONTENT.map(({ url, label }) => {
				return (
					<li>
						<a href={url}>{label}</a>
					</li>
				)
			})
		}
	</ul>
</div>

<style>
	ul {
		padding-inline: 15px;
	}
</style>
