<div>
	<h1>Contenido.</h1>
	<ul>
		<li>
			<a
				href="/docs/GDD_POG_Videojuego.pdf"
				download
				>Game Design Document.
			</a>
		</li>
		<li>
			<a href="/content/prototipo-papel">Primera versión del prototipo en papel. </a>
		</li>
		<li>
			<a>Primera versión del prototipo en digital. </a>
		</li>
	</ul>
</div>

<style>
	ul {
		padding-inline: 15px;
	}
</style>
