<section>
	<h1>Motor de <span>desarrollo</span>.</h1>
	<div class="wrapper">
		<div>
			<h2>Dependencias Clave del Juego:</h2>
			<ul>
				<li>TextMesh Pro: Versión 3.0.6 (Para texto avanzado)</li>
				<li>Interfaz de Usuario Unity (UI): Versión 1.0.0 (Para la interfaz de usuario)</li>
				<li>Sistema de Partículas: Versión 1.0.0 (Para efectos visuales)</li>
				<li>Física: Versión 1.0.0 (Para la simulación de física)</li>
				<li>Física 2D: Versión 1.0.0 (Para la física en entornos 2D)</li>
				<li>Mapa de Mosaicos (Tilemap): Versión 1.0.0 (Para niveles basados en mosaicos)</li>
				<li>Análisis Unity: Versión 1.0.0 (Para recopilación de datos de juego)</li>
				<li>Realidad Virtual (VR): Versión 1.0.0 (Para experiencias de realidad virtual)</li>
			</ul>
		</div>
		<div>
			<h2>Hola</h2>
		</div>
	</div>
</section>

<style>
	section {
		min-height: 50vh;
	}
	span {
		color: rgb(42, 140, 252);
	}
	.wrapper {
		display: flex;
		justify-content: space-between;
	}
</style>
