---
const MEMBERS = [
	{
		name: 'Andrés Garzón',
		role: 'Desarrollador',
	},
	{
		name: 'Juan Aldana',
		role: 'Diseñador',
	},
	{
		name: 'Nicolás Londoño',
		role: 'Desarrollador',
	},
	{
		name: 'Natalia Hernandez',
		role: 'Game Designer',
	},
	{
		name: 'Sebastián Alba',
		role: 'Desarrollador',
	},
]
---

<ul>
	{
		MEMBERS.map(({ name, role }) => (
			<li>
				<strong>Nombre: </strong> {name}. &nbsp; <strong>Función: </strong> {role}
			</li>
		))
	}
</ul>

<style>
	ul {
		padding-inline: 15px;
	}
</style>
