---

---

<div class="container">
	<h1>MetaQuest 2</h1>
	<p>
		Utilizaremos las gafas MetaQuest 2, ya que nos brindan la inmersión que necesitamos en nuestro
		videojuego, aunque sus controles no contribuyen a la jugabilidad.
	</p>
	<img
		src="/docs/Meta-Quest-2-Transparent.png"
		alt="MetaQuest 2"
		loading="lazy"
	/>
	<h1>Configuración de MetaQuest 2</h1>
	<p>
		Para configurar las MetaQuest 2, tuvimos que descargar la aplicación MetaQuest Link, disponible
		para las versiones 2 y 3 de las gafas. Sin embargo, enfrentamos varios inconvenientes, ya que la
		aplicación solo es compatible con CPUs con SSE 4.2 o superior. Por lo tanto, debimos utilizar
		computadoras que pudieran soportar la aplicación. Una vez instalada, la aplicación se ve así:
	</p>
	<img
		src="/docs/aplicacion.jpg"
		alt="Aplicación MetaQuest Link"
		loading="lazy"
	/>
</div>

<style>
	.container {
		max-width: 800px;
		margin: 0 auto;
		padding: 20px;
	}
	h1 {
		font-size: 2.5em;
		color: #007bff;
		margin-bottom: 20px;
	}
	p {
		font-size: 1.1em;
		line-height: 1.6;
		margin-bottom: 20px;
	}
	img {
		width: 100%;
		height: auto;
		display: block;
		margin-bottom: 20px;
	}
</style>
