---

---
<h1>MetaQuest 2</h1>
<p>Usaremos la gafas MetaQuest2, ya que estas nos permiten la inmersividad 
	que requerimos en la video juego y sus controles no ayudan con la jugabilidad
	
</p>
<img
				src="/docs/Meta-Quest-2-Transparent.png"
				alt="Pong Game"
				loading="eager"
			/>
<h1>Configuración MetaQuest 2</h1>
<p> PAra configuras las MetaQuest2, nos toco descargar la aplicación MetaQuestLink
	que esta disponible para la version 2 y 3 de las gafas, en ese momento, tuvimos varios 
	inconvenientes, ya que el aplicativo solo es compatible con CPU con SSE 4.2 o superior 
	por lo tanto, debimos usar solamente computadores que pudieran soporta la aplicación que ya instalada
	se ve de esta forma 
	
</p>
<img
				src="/docs/aplicacion.jpg"
				alt="Pong Game"
				loading="eager"
			/>