---

---
<h1>Unity y version unity</h1>
<p>Para este proyecto usamos unity como motor principal,
	usamos la version 2023.1.7f1
</p>
<img
				src="/docs/pngwing.com (2).png"
				alt="Pong Game"
				loading="eager"
			/>