---
import Layout from '../../layouts/Layout.astro'
---

<Layout>
	<div>
		<h1>Primer prototipo</h1>
		<img
			src="/docs/Primer_prototipo.webp"
			alt="Primer prototipo en papel"
		/>
	</div>
</Layout>

<style>
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 5rem;
	}
  img {
    width: 100%;
    max-width: 80%;
    border-radius: 8px;
  }
</style>
